* {
  box-sizing: border-box;
  margin: 0;
}

.talkee {
  margin: 0 auto;
  padding: 20px 0;
  font-family: inherit;
  position: relative;
}

@media screen and (max-width: 768px) {
  .talkee {
    padding: 16px;
  }
}

.talkee .talkee-button {
  height: 42px;
  padding: 8px 12px;
  font-size: inherit;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background: transparent;
  margin: 0 4px;
  cursor: pointer;
}

.talkee.expandable {
  max-height: 600px;
  overflow: hidden;
}

.talkee .talkee-expansion-panel {
  display: none;
}

.talkee.expandable .talkee-expansion-panel {
  display: block;
  position: absolute;
  height: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 40%);
}

.talkee .talkee-expansion-panel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.talkee .talkee-expand-button {
  margin: 40px auto;
}

.talkee .talkee-editor {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: transparent;
  position: relative;
  border-radius: 8px;
  display: flex;
}
.talkee .talkee-editor-left {
  flex-basis: 64px;
}
.talkee .talkee-editor-right {
  flex: 1;
}
.talkee .talkee-editor-avatar {
  width: 48px;
  height: 48px;
  border-radius: 20em;
  margin-top: 0px;
}
.talkee .talkee-editor-area {
  outline: none;
  border: none;
  width: 100%;
  line-height: 1.3;
  resize: none;
  overflow: hidden;
  min-height: 24px;
  max-height: 300px;
}
.talkee .talkee-editor-hint {
  visibility: hidden;
  font-size: 13px;
  color: tomato;
}
.talkee .talkee-editor-ctrl {
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.talkee .talkee-editor-submit {
  padding: 8px 12px;
  height: 42px;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  font-size: inherit;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.talkee .talkee-editor-submit[disabled] {
  opacity: 0.5;
}

.talkee .talkee-editor-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}
.talkee .talkee-editor.blur .talkee-editor-area,
.talkee .talkee-editor.blur .talkee-editor-left,
.talkee .talkee-editor.blur .talkee-editor-ctrl {
  /* -webkit-filter: blur(6px) grayscale(50%);
  filter: blur(6px) grayscale(50%); */
}
.talkee .talkee-tap-to-login {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
.talkee .talkee-comments {
  margin-top: 0px;
}
.talkee .talkee-comment {
  margin-bottom: 32px;
  display: flex;
}
.talkee .talkee-comment-left {
  flex-basis: 64px;
}
.talkee .talkee-comment-avatar {
  margin-top: 15px;
  height: 48px;
  width: 48px;
  border-radius: 99em;
}
.talkee .talkee-comment-right {
  flex: 1;
  padding: 10px 0;
}
.talkee .talkee-comment-right-top {
  font-size: 13px;
  padding: 20px 10px 10px 10px;
  display: flex;
  align-items: center;
}
.talkee .talkee-comment-name {
  margin-right: 10px;
  font-weight: bold;
}
.talkee .talkee-comment-time {
  opacity: 0.6;
}
.talkee .talkee-comment-reward {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  color: #eba131;
}
.talkee .talkee-comment-reward-icon {
  background: transparent none 0 0 no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
}

.talkee .talkee-comment-reply-button {
  float: right;
}

.talkee .talkee-comment-content {
  padding: 10px;
  word-break: break-word;
  line-height: 1.4;
  white-space: pre-line;
}

.talkee .talkee-comment-content-more {
  cursor: pointer;
  line-height: 1.4;
}

.talkee .talkee-comment-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -4px;
}

.talkee .talkee-meta-like-button,
.talkee .talkee-meta-tweet-button {
  height: 24px;
  background-size: 24px;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  font-size: 13px;
  height: 24px;
  display: inline-block;
  min-width: 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.talkee .talkee-meta-like-button-wrapper {
  font-size: 13px;
}

.talkee .talkee-meta-like-button {
  padding-left: 24px;
}

.talkee .talkee-meta-like-button {
  color: #000;
}

.talkee .talkee-meta-like-button.favored {
  opacity: 1;
  color: #5a97a6;
}

.talkee .talkee-sort-bar {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.talkee .talkee-sort-bar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.talkee .talkee-sort-bar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.talkee .talkee-sort-bar-comment-icon {
  width: 24px;
  height: 24px;
  background: transparent url(./comment.svg) 0 0 no-repeat;
  background-size: 24px;
}

.talkee .talkee-sort-button {
  opacity: 0.5;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
  font-size: inherit;
}

.talkee .talkee-sort-prefix {
  margin-right: 10px;
  display: none;
}

.talkee .talkee-sort-icon {
  display: inline-block;
  margin-right: 4px;
  width: 24px;
  height: 24px;
  background: transparent url(./sort.svg) 0 0 no-repeat;
  background-size: 24px;
}

.talkee .talkee-sort-button[disabled] {
  opacity: 1;
  font-weight: bold;
  color: #5a97a6;
}

.talkee .talkee-sort-by-id-asc-button {
  margin-right: 0;
}

.talkee .talkee-menu-button {
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  border: none;
  outline: none;
  width: 32px;
  margin-right: -10px;
}

.talkee .talkee-menu {
  position: absolute;
  top: 52px;
  right: 0;
  padding: 16px;
  list-style: none;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 8px;
  display: none;
}

.talkee .talkee-menu-item {
  cursor: pointer;
}

.talkee .talkee-pagination {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.talkee .talkee-pagination-button {
  height: 42px;
  padding: 8px 12px;
  font-size: inherit;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 6px;
  background: transparent;
  margin: 0 4px;
  cursor: pointer;
}
.talkee .talkee-pagination-button[disabled] {
  opacity: 0.5;
}

.talkee .talkee-no-comment-hint {
  text-align: center;
  opacity: 0.6;
}
